{% extends 'base.html' %} {% block title %}RailTel | Row- {{row}}, Rack- {{rack}}{% endblock %} {% block main %}

<header class="p-0 px-md-4 border-bottom" style="background-color: #ccecf9">
	<div class="container-fluid">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a class="navbar-brand" href="/"><img src="/static/images/railtel-logo-vertical.png" alt="RailTel" width="50px"
					height="70px" class="d-inline-block align-text-top" /></a>
			<ul class="nav col-12 col-md-5 me-auto mb-2 justify-content-center mb-md-0" style="font-size: 19px; width: 250px">
				<li><a href="/login" class="header-list-text fw-bold homei">Home</a></li>
				<!-- <li><a href="/loginHistory" class="header-list-text lh">Login History</a></li> -->
				<!-- <li><a href="{{url_for('deleted_data')}}" class="header-list-text dd">Deleted Data</a></li> -->
				<li class="nav-item dropdown float-end header-list-text dld">
					Download
					<div class="dropdown-content text-start">
						<a href="/download-dc-all/0">Data Center (All)</a>
						<a href="/download-dc-all/1">Row 1 (only)</a>
						<a href="/download-dc-all/2">Row 2 (only)</a>
						<a href="/download-dc-all/3">Row 3 (only)</a>
						<a href="/download-dc-all/4">Row 4 (only)</a>
						<a href="/download-dc-all/5">Row 5 (only)</a>
						<a href="/download-dc-all/6" class="mb-2">Row 6 (only)</a>
					</div>
				</li>
			</ul>

			<div class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
				<input id="myInput2" type="search" class="form-control" placeholder="Type here to Search..." aria-label="Search"
					name="search" />
			</div>
			<a href="{{ url_for('newUser') }}" class="sign-up-home-page mx-3">Sign up</a>
			<a class="btn-talos text-end text-center mt-0" style="width: 110px; height: 40px" href="/login" role="button">Sign
				in</a>
		</div>
	</div>
</header>
<br clear="all" />

<div
	style="display: flex; align-items: center; justify-content: center; color: #455a77; flex-direction: column; font-size: 1.7rem; font-weight: 700; height: 60vh">
	<p style="margin-top: 50px">There is no Data for Row - {{row}}, Rack - {{rack}}</p>
	<p style="margin-top: 20px; color: orangered">This is empty Rack...</p>
</div>
{% endblock %}