{% extends 'base.html' %}
{% block title %}RailTel | Register{% endblock %}

{% block main %}

<header class="p-0 px-md-4 mb-3 border-bottom" style="background-color: #CCECF9;">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="/"><img src="/static/images/railtel-logo-vertical.png" alt="RailTel"
                    width="50px" height="70px" class="d-inline-block align-text-top" /></a>

            <ul class="nav col-12 col-md-5 me-auto mb-2 justify-content-center mb-md-0"
                style="font-size: 19px; width: 130px;">
                <li><a href="/login" class="header-list-text homei">Home</a></li>
            </ul>
        </div>
    </div>
</header>
<br clear="all" />

<div style="width: 400px; background-color: #CCECF9;"
    class="d-md-block d-flex mx-auto justify-content-center text-center container">
    <div class="card" style="margin-top:25%; border-radius: 15px;">
        <h4>Only railtelindia users is Allowed</h4>
        <p class="text-start" style="color:#0379b4"><label for="" class="text-secondary">Register here - </label> {{
            email }}</p>
        <form method="post" class="form" name="form1"
            oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" name="fullname" placeholder="Enter Your Name" required>
                <label for="floatingInput">Full Name</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" name="mobile_number" placeholder="Enter Mobile Number"
                    required />
                <label for="floatingInput">Mobile Number</label>
            </div>
            <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" for email id for every type of email -->
            <div class="form-floating mb-2">
                <input type="text" class="form-control" name="username" placeholder="Enter Your Username"
                    oninput="ValidateEmail(document.form1.email)" required>
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
                <label for="floatingPassword">Confirm Password</label>
            </div>
            <input type="submit" value="Register" class="btn-talos mb-3">
        </form>
        {% for message in get_flashed_messages() %}
        <div class="container text-center">
            <div class="py-3 text-danger">{{ message }}</div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function phonenumber(inputtxt) {
        var phoneno = /^\d{10}$/;
        if (inputtxt.value.match(phoneno)) {
            return true;
        } else {
            swal("Incorrect Phone No", "Please input numeric characters only & Size should be 10", "warning")
            return false;
        }
    }

    function ValidateEmail(inputText) {
        var mailformat = /^\w+([\.-]?\w+)*@railtelindia\.com$/;
        if (inputText.value.match(mailformat)) {
            return true;
        } else {
            swal("Incorrect Email Address", "The email id you entered is incorrect. Please try again.", "warning")
            return false;
        }
    }
</script>
<script type="text/javascript">
    function preventBack() {
        window.history.forward();
    }

    setTimeout("preventBack()", 0);

    window.onunload = function () { null };
</script>
{% endblock %}