{% extends 'base.html' %} {% block title %}RailTel | Show Data{% endblock %} {%
block main %}
<header class="p-0 px-md-4 border-bottom" style="background-color: #ccecf9; position: sticky; top: 0">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="/"><img src="/static/images/railtel-logo-vertical.png" alt="RailTel" width="50px"
          height="70px" class="d-inline-block align-text-top" /></a>

      <ul class="nav col-12 col-md-5 me-auto mb-2 justify-content-center mb-md-0" style="font-size: 19px; width: 533px">
        <li>
          <a href="/login" class="header-list-text fw-bold homei">Home</a>
        </li>
        <li>
          <a href="/loginHistory" class="header-list-text lh">Login History</a>
        </li>
        <li>
          <a href="{{url_for('deleted_data')}}" class="header-list-text dd">Deleted Data</a>
        </li>
        <li class="nav-item dropdown float-end header-list-text dld">
          Download
          <div class="dropdown-content text-start">
            <a href="/download-dc-all/0">Data Center (All)</a>
            <a href="/download-dc-all/1">Row 1 (only)</a>
            <a href="/download-dc-all/2">Row 2 (only)</a>
            <a href="/download-dc-all/3">Row 3 (only)</a>
            <a href="/download-dc-all/4">Row 4 (only)</a>
            <a href="/download-dc-all/5">Row 5 (only)</a>
            <a href="/download-dc-all/6" class="mb-2">Row 6 (only)</a>
          </div>
        </li>
      </ul>

      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-3" role="search">
        <input id="myInput2" type="search" class="form-control" placeholder="Type here to Search..." aria-label="Search"
          name="search" />
      </div>
      <a class="btn-talos text-end text-center mt-0" style="width: 110px; height: 40px" href="/logout"
        role="button">Sign out</a>
    </div>
  </div>
</header>
<br clear="all" />

<div class="mx-auto">
  <div style="text-align: center; margin-bottom: 15px">
    <strong style="font-size: 1.5rem">GGN DC - Server Farm</strong>
    <!-- <strong style="font-size: 1.5rem;">Gurgaon Data Center - Server Farm</strong> -->
  </div>
  <div class="d-flex justify-content-between">
    <div class="reportTable1" style="width: 90vw">
      <div class="table-photo-descp-main">
        <div class="table-photo-descp">
          <span>RailTel Internal &nbsp;=&nbsp;</span>
          <img class="table-cell" src="../static/images/railtel_internal.png" alt="RailTel Internal"
            title="RailTel Internal" />
        </div>
        <div class="table-photo-descp">
          <span>Network Asset &nbsp;=&nbsp;</span>
          <img class="table-cell" src="../static/images/network.png" alt="Network Asset" title="Network Asset" />
        </div>
        <div class="table-photo-descp">
          <span>Colocation &nbsp;=&nbsp;</span>
          <img class="table-cell" src="../static/images/colocation.png" alt="Colocation" title="Colocation" />
        </div>
        <div class="table-photo-descp">
          <span>Empty &nbsp;=&nbsp;</span>
          <img class="table-cell" src="../static/images/empty.png" alt="Empty" title="Empty" />
        </div>
      </div>
      <table class="mt-3">
        <thead>
          <tr>
            <th scope="col" style="width: 100px" class="tableHead"></th>
            {% for rack in range(0,19) %}
            <th scope="col" style="width: 100px; text-align: left" class="tableHead">
              Rack {{rack}}
            </th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% set count = namespace(value=0) %} {% for row_data in range(1, 7) %}
          <tr class="row-border-bottom">
            <th scdope="row" class="tableHead table-row">Row {{row_data}}</th>
            {% if row_data == 3 %} {% for rack_data in range(0, 14) %}
            <td scope="row">
              <a href="/one-row-rack-details/{{row_data}}/{{rack_data}}/when_click" target="_blank"
                onmouseover="loadInfo('{{row_data}}', '{{rack_data}}')">
                {% if rack_details[count.value] == 'RailTel Internal' %}
                <img class="table-cell" src="../static/images/railtel_internal.png"
                  alt="Row- {{row_data}}, Rack- {{rack_data}}" title="Row- {{row_data}}, Rack- {{rack_data}}" />
                {% elif rack_details[count.value] == 'Colocation' %}
                <img class="table-cell" src="../static/images/colocation.png"
                  alt="Row- {{row_data}}, Rack- {{rack_data}}" title="Row- {{row_data}}, Rack- {{rack_data}}" />
                {% elif rack_details[count.value] == 'Network Asset' %}
                <img class="table-cell" src="../static/images/network.png" alt="Row- {{row_data}}, Rack- {{rack_data}}"
                  title="Row- {{row_data}}, Rack- {{rack_data}}" />
                {% else %}
                <img class="table-cell" src="../static/images/empty.png" alt="Row- {{row_data}}, Rack- {{rack_data}}"
                  title="Row- {{row_data}}, Rack- {{rack_data}}" />
                {% endif %} {% set count.value = count.value + 1 %}
              </a>
            </td>
            {% endfor %} {% else %} {% for rack_data in range(0, 19) %}
            <td scope="row">
              <a href="/one-row-rack-details/{{row_data}}/{{rack_data}}/when_click" target="_blank"
                onmouseover="loadInfo('{{row_data}}', '{{rack_data}}')">
                {% if rack_details[count.value] == 'RailTel Internal' %}
                <img class="table-cell" src="../static/images/railtel_internal.png"
                  alt="Row- {{row_data}}, Rack- {{rack_data}}" title="Row- {{row_data}}, Rack- {{rack_data}}" />
                {% elif rack_details[count.value] == 'Colocation' %}
                <img class="table-cell" src="../static/images/colocation.png"
                  alt="Row- {{row_data}}, Rack- {{rack_data}}" title="Row- {{row_data}}, Rack- {{rack_data}}" />
                {% elif rack_details[count.value] == 'Network Asset' %}
                <img class="table-cell" src="../static/images/network.png" alt="Row- {{row_data}}, Rack- {{rack_data}}"
                  title="Row- {{row_data}}, Rack- {{rack_data}}" />
                {% else %}
                <img class="table-cell" src="../static/images/empty.png" alt="Row- {{row_data}}, Rack- {{rack_data}}"
                  title="Row- {{row_data}}, Rack- {{rack_data}}" />
                {% endif %} {% set count.value = count.value + 1 %}
              </a>
            </td>
            {% endfor %} {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Add this inside the main block -->
    <div id="infoBox" class="info-box" style="display: none">
      <!-- Content will be loaded here using Ajax -->
      <div id="infoContent"></div>
      <!-- Close button -->
      <span id="closeBtn" class="close-btn" onclick="closeInfoBox()">×</span>
    </div>
  </div>
</div>

<br clear="all" />

<div class="row px-md-3" style="margin-right: 1.2rem; margin-left: 1.2rem">
  <div class="col-sm-6 col-md-6 col-lg-6 col-6 px-0">
    <span style="font-size: 1.3rem">Data Center Management <strong>Details</strong></span>
  </div>
  <div class="col-sm-6 col-md-6 gap-2 col-lg-6 col-6 px-0 d-flex align-items-center justify-content-end">
    <form action="/upload-excel-data" method="post" enctype="multipart/form-data"
      class="border border-secondary rounded-3 d-flex align-items-center p-1 gap-1">
      <input type="file" name="upload-file" class="form-control form-control-sm" accept=".xlsx,.xls"
        style="width: 235px;" required />
      <input type="submit" class="btn px-0 mx-0 btn-talos add-new" value="Upload Excel" />
    </form>
    <a class="btn px-0 mx-0 btn-talos add-new float-end" href="/addDatacenter" role="button"><i
        class="fa fa-plus"></i>Add One</a>
  </div>
</div>
<div class="btn" id="displaymessage" style="
    display: none;
    width: 1100px;
    margin-top: 10px;
    background-color: #2980b9;
    color: #edf9fe;
  "></div>

<br clear="all" />

<div style="margin-bottom: 50px; width: 100%">
  <table class="reportTable2 mb-3">
    <thead style="
        background-color: #ccecf9;
        height: 40px;
        position: sticky;
        top: 80px;
      ">
      <tr>
        <th scope="col" style="padding-left: 5px" class="tableHead columnSize90px">
          Rack Details
        </th>
        <th scope="col" style="padding-left: 5px" class="tableHead columnSize100px">
          Service Type
        </th>
        <th scope="col" style="padding-left: 5px" class="tableHead columnSize110px">
          Customer Name
        </th>
        <th scope="col" style="padding-left: 5px" class="tableHead columnSize130px">
          Customer/Project
        </th>
        <th scope="col" class="tableHead columnSize110px">CI Type</th>
        <th scope=" col" style="padding-left: 5px" class="tableHead columnSize110px">
          Asset Tag
        </th>
        <th scope="col" style="padding-left: 5px" class="tableHead columnSize85px">
          OEM
        </th>
        <th scope="col" style="padding-left: 5px" class="tableHead columnSize110px">
          Model
        </th>
        <th scope="col" style="padding-left: 5px" class="tableHead columnSize110px">
          Serial Number
        </th>
        <th scope="col" style="padding-left: 5px" class="tableHead columnSize100px">
          IP (Mgmt)
        </th>
        <th scope="col" style="min-width: 120px; padding-left: 5px" class="tableHead pe-2">
          Actions
        </th>
      </tr>
    </thead>
    <tbody id="myTbody2">
      {% for row in data %}
      <tr class="tableRow">
        <td class="tableData columnSize90px">
          Row-{{row.row}}, Rack-{{row.rack}}
        </td>
        <td class="tableData columnSize100px">{{row.service_type}}</td>
        <td class="tableData columnSize110px">{{row.customer_name}}</td>
        <td class="tableData columnSize130px">{{row.customer_project}}</td>
        <td class="tableData columnSize110px">{{row.ci_type}}</td>
        <td class="tableData columnSize110px">{{row.asset_tag}}</td>
        <td class="tableData columnSize85px">{{row.oem}}</td>
        <td class="tableData columnSize110px">{{row.model}}</td>
        <td class="tableData columnSize110px">{{row.serial_number}}</td>
        <td class="tableData columnSize100px">{{row.ip_mgmt}}</td>
        <td class="tableData pe-1 text-center" style="min-width: 120px">
          <a
            onclick='swal("CI Type - {{row.ci_type}}\n\n Hostname - {{row.hostname}}\n\n IPMI ILO - {{row.ipmi_ilo}}\n\n AMC Start Date - {{row.amc_start_date}}\n\n AMC End Date - {{row.amc_end_date}}\n\n Remark - {{row.remark}}\n\n Created By - {{row.created_by}}\n\n Creation Date Time - {{row.creation_date_time}}", {buttons: false}); return false;'><img
              src="../static/icons/viewIcon.svg" alt="view" /></a>
          <a href="/updateDataCenter/{{row.SNo}}" class="edit" title="Edit" data-toggle="tooltip" id="{{row.SNo}}"><img
              src="../static/icons/editIcon.svg" alt="edit icons" /></a>
          <a class="delete" title="Delete" data-toggle="tooltip" id="{{row.SNo}}" about="Elephant"
            onclick="return confirmation(this);"><img src="../static/icons/deleteIcon.svg" alt="delete" />
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br clear="all" />

<script>
  function confirmation(curr_elem) {
    const del_text = confirm(`Are you sure. You want to delete this item ?`);
    if (del_text) {
      let reason = prompt("Please, enter Reason for Deletion of this item.");
      if (reason != null && reason != "") {
        const sno = parseInt(curr_elem.id, 10);
        $(curr_elem).prop("href", `/deleteDataCenter/${sno}/${reason}`);
      } else {
        return false;
      }
    } else {
      return false;
    }
  }
</script>

<!-- Add this inside the main block -->
<script>
  let ajaxRequest;

  function loadInfo(row, rack) {
    // Abort previous Ajax request if any
    if (ajaxRequest) {
      ajaxRequest.abort();
    }

    // Perform Ajax request
    ajaxRequest = $.ajax({
      type: "GET",
      url: `/one-row-rack-details/${row}/${rack}/hovered`,
      success: function (data) {
        console.log(data);

        // Clear previous content
        $("#infoContent").empty();

        // Define the order in which keys should be displayed
        const keyOrder = [
          "row",
          "rack",
          "service_type",
          "customer_name",
          "customer_project",
          "ci_type",
          "asset_tag",
        ];

        // Check if data is empty
        if ($.isEmptyObject(data)) {
          // Display a message for empty data
          const emptyMessageElement = $("<p>", {
            text: "Data is empty",
            css: {
              fontSize: "18px",
              fontWeight: 700,
              color: "#e34724",
              textAlign: "center",
            },
          });

          // Append the message to the infoContent
          $("#infoContent").append(emptyMessageElement);
        } else {
          // Iterate through keys and values
          keyOrder.forEach((key) => {
            if (data[key]) {
              // Create a single paragraph for both key and value
              const keyValueElement = $("<p>", {
                html: `<span style="font-size: 16px; font-weight: 600; margin-right: 5px;">${key}:</span><span style="font-size: 14px;">${data[
                  key
                ].join(", ")}</span>`,
                css: {
                  marginBottom: "15px",
                },
              });

              // Append the key-value pair to the infoContent
              $("#infoContent").append(keyValueElement);
            }
          });
        }

        // Show the infoBox
        $("#infoBox").show();
      },

      error: function () {
        // Handle error
        console.log("Error fetching data");
      },
    });
  }

  function closeInfoBox() {
    // Hide the infoBox
    $("#infoBox").hide();
  }
</script>

{% endblock %}